name: Run collective_backend and push to main

on:
  push:
    branches:
      - main

jobs:
  run_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11  # Change this to the appropriate Python version if needed

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run collective_backend
        working-directory: backend_data
        run: |
          python collective_backend.py  # Replace this with the actual command to run your script

      - name: Clear other commits
        run: |
          git config --global user.email "bhavesh.161201@gmail.com"
          git config --global user.name "Bhavesh Jain"
          git checkout main
          git pull origin main
          git reset --hard 
          git push origin main --force

      - name: Commit and push changes
        run: |
          git config --global user.email "bhavesh.161201@gmail.com"
          git config --global user.name "Bhavesh Jain"
          git add .
          git commit -m "Update collective_backend output"
          git push origin main
