# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Data update

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Run exec.py
      run: python collective_backend.py  # Adjust the command if necessary
      working-directory: backend_data

    - name: Commit changes
      run: |
        git config --global user.name "bhaveshjain1612"
        git config --global user.email "bhavesh.161201@gmail.com"
        git add .
        git commit -m "Auto-commit changes after running exec.py"
        git pull --rebase --autostash  # Autostash existing changes
        git reset --hard
        git push origin main
      working-directory: backend_data
