name: Update data

on:
  schedule:
      - cron: "30 12 * * 1"
      - cron: "30 12 * * 2"
      - cron: "30 12 * * 3"
      - cron: "30 12 * * 4"
      - cron: "30 12 * * 5"
  #push:
    #branches:
      #- main

jobs:
  run_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11  # Change this to the appropriate Python version if needed

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run collective_backend
        working-directory: backend_data
        run: |
          python collective_backend.py  # Replace this with the actual command to run your script

      - name: Commit and push changes
        run: |
          git config --global user.email "bhavesh.161201@gmail.com"
          git config --global user.name "Bhavesh Jain"
          
          git pull --rebase origin main # Use rebase to apply local changes on top of remote changes
          git add .
          git commit -m "Data updated on `date +'%d-%m-%Y'`"
          git push origin main
